<header>
    <div class="container">
        <div class="row">
            <div class="col-8 text-start">
                <h2><span class="home">Home</span></h2>
            </div>
            <div class="col-2 text-end">
                <h2>Profile</h2>
            </div>
            <div class="separator"></div>
            <div class="col-2 text-start">
                <h2>Log Out</h2>
            </div>
        </div>
        <div class="row home-end justify-content-center"></div>
    </div>
</header>
