.main-container {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    top: 100px;
    bottom: 60px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 100px;
    right:100px;
}
