<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="card">
          <div class="witaj">Welcome Back</div>
          <form [formGroup]="loginForm">
            <div class="form-group">
              <div class="text" style="text-align:center; margin-top:10px">
                Enter your details to log in
              </div>
              <div class="text" style="text-align:center; margin-bottom: 10px">
                to your account.
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  placeholder="Enter your email"
                />
                <div
                  *ngIf="submitted && loginForm.get('email')?.errors"
                  class="text-danger">
                  <div *ngIf="loginForm.get('email')?.hasError('required')">Email is required</div>
                  <div *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  formControlName="password"
                  style="background-color: transparent; border-color: #91B2B9; border-width: 2px;"
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="Password">
                <div
                  *ngIf="submitted && loginForm.get('password')?.errors"
                  class="text-danger">
                  <div *ngIf="loginForm.get('password')?.hasError('required')">Password is required</div>
                </div>
              </div>
              <div class="form-group">
                <button
                  (click)="onSubmit()"
                  type="submit"
                  class="btn btn-block"
                  style="background-color: #91B2B9">
                  Login
                </button>
              </div>
              <input type="checkbox"> Remember password
            </div>
            <a href="/register">Don't have an account? Click here!</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
